.sges-order {
    * {
        font-size: 14px;
        .filter-item {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 10px 0px;
            background-color: #fff;
            border-radius: 5px;
        }
    }
    .detail-order-0 {
        background: #e6f8ff;
    }
    .detail-order-1 {
        background: #fcfde7;
    }
    .detail-order-2 {
        background: #ecffea;
    }
    .detail-order-3 {
        background: #dadeff;
    }
    .detail-order-4 {
        background: #fde6e6;
    }
    .detail-order-5 {
        background: #e3e3ff;
    }
    .container-fluid {
        .sges-order-content {
            display: flex;
        }
        .order-main {
            padding-right: 16px;
            .order-item-content {
                .table {
                    tbody {
                        tr {
                            .staff-order-detail {
                                .chon {
                                    background-color: #fff;
                                }
                            }
                        }
                        .tr-order {
                            height: 50px;
                            line-height: 50px;
                            td {
                                .pay1 {
                                    color: #00a023;
                                }
                                .status-order0 {
                                    background: #bbecff;
                                    color: #2ab0e6;
                                }
                                .status-order1 {
                                    background: #fcffd1;
                                    color: #a5b800;
                                }
                                .status-order2 {
                                    background: #d0ffcc;
                                    color: #21c700;
                                }
                                .status-order3 {
                                    background: #3633ff2d;
                                    color: #3358ff;
                                }
                                .status-order4 {
                                    background: #ff33332d;
                                    color: #ff3333;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
