.pagination {
    padding: 24px;
    .pageSize {
        padding: 5px;
        margin-right: 20px;
        border-radius: 5px;
        border: none;
        background-color: aliceblue;
    }
    .pageNumber {
        a {
            padding: 2px;
            border: none;
        }
        .btn-outline-primary {
            color: #068cc1;
            border: 1px solid #068cc1;
            &:hover {
                height: 120%;
                color: #fff;
                background-color: #068cc1;
            }
        }
        .active {
            color: #fff;
            background-color: #068cc1;
        }
    }
}
