tr {
    td {
        .row {
            .col-3 {
                .cart-p-img {
                    min-height: 150px;
                    // border: 1px solid #ccc;
                }
            }
            .col-9 {
                .cart-p-quantity {
                    .p-quantity {
                        .btn {
                            padding: 0;
                            margin: 0;
                            width: 38px;
                            border: 1px solid #00000017;
                            border-radius: 0;
                            height: 38px;
                            line-height: 38px;
                        }
                        input {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            height: 38px;
                            width: 50px;
                            line-height: 38px;
                            border-radius: 0;
                            border-top: 1px solid #00000017;
                            border-bottom: 1px solid #00000017;
                            border-left: none;
                            border-right: none;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}
